*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  padding: 50px;
  max-width: 800px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px auto;
}

.title {
  padding-bottom: 10px;
  display: block;
}

.more-informations {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.more-information {
  display: flex;
  align-items: center;
}
.info_cv {
  display: flex;
  gap: 0 10px;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.other {
  margin-left: 160px;
}

.icon {
  width: 10px;
  height: 10px;
  color: red;
  font-weight: bold;
}
